img {
  height: 100%;
}

body {
  background-image: url("./Image/Pc-fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 70%;
  backdrop-filter: blur(5px);
  margin: 0;
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --var-navbar: #0d2e11;
}

header {
  background-color: var(--var-navbar);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  /* visibility: hidden; */
}

.logo {
  position: absolute;
  height: 90%;
  margin: 5px;
}

nav {
  display: flex;
  padding: 35px 0;
  justify-content: center;
  gap: 0.2em;
}

nav > div:hover > div {
  display: flex;
}

nav > div > div {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: var(--var-navbar);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  margin-top: 0.5em;
}

nav a {
  color: #38488f;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
}

nav a:hover {
  background-color: #2a633e;
}

main {
  article {
    width: calc(100% * 2 / 3);
    margin: 5em auto;
    padding: 2em;
    background-color: #122915;
    color: #f9f9f9;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
    text-align: justify;
    scroll-margin-top: 200px;
  }
  a:link,
  a:visited {
    color: #38488f;
    text-decoration: none;
  }
}

/* article .articleAnchor {
  display: none;
  position: relative;
  top: 0;
} */
.image_droite img {
  max-width: 40%;
  border-radius: 0.5em;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.1);
  margin: auto auto auto 20px;
}
.image_droite {
  display: flex;
}

#article2 div {
  display: flex;
  justify-content: space-evenly;
}
#article2 div img {
  max-width: 20%;
  border-radius: 20px;
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
