/* =========================
   Polices
========================= */
@font-face {
  font-family: "MuseoModerno";
  src: url("./MuseoModerno-VariableFont_wght.ttf") format("truetype");
}

/* =========================
   Variables & Reset
========================= */
:root {
  --navbar-bg: #0d2e11;
  --text-color: #f9f9f9;
  --link-color: #909ddf;
  --link-hover-bg: #2a633e;
  --titre-color: #ff914d;
  --card-bg: #122915;
  --shadow-light: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-card: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  height: 100%;
}

body {
  background: url("img/Pc-fond.jpg") no-repeat 70% center / cover;
  backdrop-filter: blur(10px);
  color: var(--text-color);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* =========================
   Navbar
========================= */
header {
  background-color: var(--navbar-bg);
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: var(--shadow-light);
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background-image: url("./img/concrete-wall-2.png");
}

#titre-site {
  color: var(--titre-color);
  font-family: "MuseoModerno";
  font-size: xxx-large;
  margin: auto 0;
  text-align: center;
}

.nav-logo {
  height: 100px;
  margin: 10px;
}

nav {
  display: flex;
  justify-content: flex-start;
  padding: 35px 0;
  /* Zone morte entre les boutons */
  gap: 3px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  border-radius: 0.3em;
}

.nav-item > a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  /* Gros boutons */
  padding: 0.5em 1em;
}

/* Sélectione un .nav-item qui a un de ses enfants en :hover */
.nav-item:has(:hover) {
  background-color: var(--link-hover-bg);
}

.submenu {
  /* Nécessaire pour positionner le sous-menu par rapport au parent */
  position: relative;
  width: 100%;
}

.submenu > div {
  /* Par défaut, ne pas afficer le menu */
  display: none;
  /* Sinon, l'afficher sous forme de colonne */
  flex-direction: column;
  position: absolute;
  /* Placer un élément absolu au bas d'un élément relatif */
  top: 100%;
  left: 0;
  /* On veut que les > a aient la taille du parent, donc il faut la garder */
  width: 100%;
  /* Espacement entre les éléments */
  gap: 3px;
  padding-top: 3px;
}

.submenu a {
  padding: 0.5em 1em;
  white-space: nowrap;
  text-decoration: none;
  background-color: #2a633e;
  border-radius: 0.3em;
  box-shadow: var(--shadow-light);
  color: var(--link-color);
  text-align: center;
}

.submenu a:hover {
  background-color: var(--navbar-bg);
  border: 1px solid var(--link-color);
}

.nav-item:hover .submenu > div {
  display: flex;
}

/* =========================
   Main & Articles
========================= */
main article {
  width: 66.67%;
  margin: 5em auto;
  padding: 2em;
  background-color: var(--card-bg);
  background-image: url("./img/concrete-wall-2.png");
  border-radius: 0.5em;
  box-shadow: var(--shadow-card);
  text-align: justify;
  scroll-margin-top: 200px;
}
main h2 {
  margin-bottom: 20px;
  font-size: xx-large;
  color: var(--titre-color);
}
main a:link,
main a:visited {
  color: #38488f;
  text-decoration: none;
}

/* =========================
   Images & Layout
========================= */
.image-large {
  display: flex;
  gap: 20px;
}

.image-large img {
  max-width: 40%;
  border-radius: 0.5em;
  box-shadow: var(--shadow-light);
  margin: auto 0px;
}

.image-large.layout-left {
  flex-direction: row-reverse;
}

.article-gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.article-gallery img {
  max-width: 20%;
  border-radius: 5px;
  box-shadow: var(--shadow-light);
  margin: 10px 0;
}

/* =========================
   Footer
========================= */
.site-footer {
  background-color: var(--navbar-bg);
  background-image: url("./img/concrete-wall-2.png");
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

footer h2 {
  color: var(--titre-color);
  margin-bottom: 10px;
  font-size: xx-large;
}

.site-footer > div {
  padding: 20px;
  text-align: center;
}

.footer-petit-logo {
  height: auto;
  width: 75px;
  filter: brightness(0) saturate(100%) invert(57%) sepia(100%) saturate(181%)
    hue-rotate(193deg) brightness(94%) contrast(87%);
}

.footer-logo {
  height: 125px;
  margin: auto 0;
}
